body{
    margin-left: 100px;
    margin-right: 100px;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;`
}

#box-fixed{
    position: fixed;
    padding: 4%;
    background-color: #eee;
    text-align: center;
    float: left;
    margin: 0px;
    top: 0px;
    left: 1px;
}

 #left{
	background: blue;
	position: fixed;
    top: 0; bottom: 0;
    width: 1px;
    left: 0;
 }

 #left2{
	background: midnightblue;
	position: fixed;
    top: 0; bottom: 0;
    width: 1px;
    left: 0;
 }


#box-relative{
    background-color: #eee;
    width: 100%;
    margin-left: 0;
    position: relative;
    text-align: center;
    height: 150px;
}

#box-absolute{
    background-color: #999;
    position: absolute;
    height: 70px;
    width: 150px;
    bottom: -15px;`
    right: -60px;
}
